
<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="../lib/MoodChecker.js"></script>
  <script type="text/javascript" src="../lib/Activity.js"></script>
</head>
<body>
<h1>this is an activity</h1>

<script>
  activity = new Activity();
</script>

<p id="moodValue">test</p>
<p id="activity">this is a test activity</p>

<script>
currentMood = sessionStorage.getItem("moodValue");  
document.getElementById("moodValue").innerHTML = currentMood;



// Not used right now
  if (currentMood == 1) {
     moodArray = activity.mood1;
  } else if (currentMood == 2) {
    moodArray = activity.mood2;
  } else if (currentMood == 3) {
    moodArray = activity.mood3;
  } else if (currentMood == 4) {
    moodArray = activity.mood4;
  } else if (currentMood == 5) {
    moodArray = activity.mood5
  } else if (currentMood == 6) {
    moodArray = activity.mood6
  } else if (currentMood == 7) {
    moodArray = activity.mood7
  } else if (currentMood == 8) {
    moodArray = activity.mood8
  } else if (currentMood == 9) {
    moodArray = activity.mood9
  } else (currentMood == 10); {
    moodArray = activity.mood10
  }
  // Random function
var item = moodArray[Math.floor(Math.random() * moodArray.length)];
  // Replace text
document.getElementById("activity").innerHTML = item;
</script>

 <!-- if moodvalue == 4 then 'this array'.rand  -->
