
<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="../lib/MoodChecker.js"></script>
  <script type="text/javascript" src="../lib/Activity.js"></script>
</head>
<body>
<h1>this is an activity</h1>

<script>
  activity = new Activity();
</script>

<p id="moodValue">test</p>
<p id="activity">this is a test activity</p>

<script>
currentMood = sessionStorage.getItem("moodValue");  
document.getElementById("moodValue").innerHTML = currentMood;



// Not used right now
  if (currentMood == 4) {
     moodArray = activity.mood4
  } else (currentMood == 1); {
    moodArray = activity.mood1
  }
  // Random function
var item = moodArray[Math.floor(Math.random() * moodArray.length)];
  // Replace text
document.getElementById("activity").innerHTML = item;
</script>

 <!-- if moodvalue == 4 then 'this array'.rand  -->
