<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="../lib/MoodChecker.js"></script>
</head>
<body>
<h1>Mood Checker</h1>

<h4>How are you feeling?</h4>

<script>
  mood = new Mood();

</script>

<button type="button" onclick="myFunction()">Up</button>

<p id="moodValue">1</p>

<script>
  function myFunction() { 
    mood.increaseMood()
    document.getElementById("moodValue").innerHTML = mood.moodValue;
  }
</script>

<button type="button" onclick="myFunctionDown()">Down</button>


<script>
  function myFunctionDown() { 
    mood.decreaseMood()
    document.getElementById("moodValue").innerHTML = mood.moodValue;
  }
</script>

<button onclick=submitMood()>Submit</button>
<script>
  
function submitMood() {
  // Change the Mem part
  // submittedMood = mood.moodValue
  // sumbitMoodClassInstance = new submitMood(submittedMood)
  location.replace("/Mem/views/activities.html")
}
</script>
</body>
</html>